.container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    gap: 30px; 
    width: 90%;
  }
  
  .title{
    font-weight: 600;
    font-size: 24px;
    color: #b91212;
  }
  
  .list {
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 45px;
  }
  
  .item {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    min-width: 320px;
    flex-basis: calc((100% - 80px) / 4);
    border: none;
  }

  .img {
    border-radius: 10px;
  }

  @media screen and (min-width: 768px){
    .container{
     
      margin-left: 70px;
      width: 750px;
      border-radius: 10px;
      border: 1px solid black;
      margin-top: 25px;
    }

    .list {
      flex-wrap: wrap;
      flex-direction: row;
      margin-left: -30px;
      padding-top: 50px;
      justify-content: center;
      gap: 45px;
      padding-top: 50px;
    }
  }
  