.headerLink {
  display: inline-block;
  text-decoration: none;
  padding: 14px;
  margin-left:15px;
  gap: 10px;
  font-weight: 600;
  font-size: 22px;
  color: #191d1e;
  transition: all, 250ms;
}

.header {
  border-bottom: solid 1px grey;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px){
  .header {
      margin-left: 65px;
    }
  }
