.title {
    text-align: center;
    font-weight: 600;
    font-size: 34px;
    color: #b91212;
}

.subtitle{
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 24px;
}

.list {
    list-style: inside;
}

.link {
    text-decoration: none;
    color: #191d1e;
    transition: all, 250ms;
    

    &:hover {
      color: #b91212; 
}
}

.swiperContainer{
    border-radius: 10px;
}

.sample-slider {
    width: 70%;
}
.sample-slider img {
    width: 100%;
}

.sample-slider .swiper-wrapper{
    transition-timing-function: linear;
}



